<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="it">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<title>Retwis Django - Example Twitter clone based on the Redis Key-Value DB</title>
<link href="/styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
    <div id="header">
    <a href="/"><img style="border:none" src="/styles/logo.png" width="192" height="85" alt="Retwis"></a>
    <div id="navbar">
        <a href="/">home</a> | <a href="/timeline">timeline</a> | <a href="/logout">logout</a>
    </div>
    </div>

    {% block content %}{% endblock %}

<div id="footer">
    Redis is a very simple Twitter clone written in PHP as example application of the
    <a href="http://redis.io">Redis key-value database</a> and
    <a href="http://docs.djangoproject.com">Django - Python framework</a>
</div>
</div>
</body>
</html>
